.dropdownContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.dropdown {
  /* margin-top: 30px; */
  display: flex;
  /* justify-content: center; */
  /* justify-self: center; */
  /* align-items: center; */
  gap: 20px;
}

.arrowBtn {
  background-color: #242424;
  border-width: 0;
}

.dayCardContainer {
  display: flex;
  margin: 50px;
  justify-content: center;
  flex-wrap: wrap;
}