input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

.changeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.changePassDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 550px;
  border-radius: 25px;
  margin-top: 50px;
}

#changeHeader {
  margin-top: 30px;
}

.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}

.changeInput {
  background-color: black;
  color: white;
  border-color: #ff4500;
}

.changeBtn {
  margin-left: 16px;
  color: white;
  background-color: black;
  border-color: #ff4500;
  border-radius: 5px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}
