.dayCardDiv {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  background-color: black;
  padding: 10px;
  height: 250px;
  width: 250px;
  border-radius: 25px;
}

.dayCardDate {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.dayCardWeight {
  display: flex;
}

.saveViewBtns {
  display: flex;
  margin-top: 20px;
}

.deleteBtn {
  background-color: black;
  border-width: 0;
}

.editBtn {
  height: 30px;
  background-color: black;
  border-width: 0;
}

.editDayCardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 10px;
  padding: 10px;
  height: 250px;
  width: 250px;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dateInput {
  display: flex;
  color: white;
  background-color: black;
  border-width: 2px;
  border-color: #ff4500;
  width: 150px;
}

.weightInput {
  color: white;
  background-color: black;
  border-width: 2px;
  border-color: #ff4500;
  width: 65px;
  align-items: center;
}

.editDateCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 10px;
}

.editWeightCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saveBtn {
  background-color: black;
  border-width: 0;
}

#lbs {
  margin-left: 15px;
}