.navbarContainer {
  display: flex;
  flex-direction: row;
  color: orangered;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: black;
  height: 80px;
}

#userName {
  font-size: 30px;
  font-weight: 500;
  margin-left: 50px;
}

#links {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  gap: 20px;
}

.navLink {
  color: orangered;
}