.navbarContainer {
  display: flex;
  flex-direction: row;
  color: orangered;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 50px;
}

.navLink {
  color: orangered;
  margin-left: 20px;
}

a, a:visited {
  color: orangered;
}